// 
// Text transform
// 
%heading {
  margin-top: 0;
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  // font-style: $headings-font-style; // default is null, see https://github.com/twbs/bootstrap/blob/master/scss/_variables.scss#L302
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
  text-transform: uppercase; // adding uppercase style
}

h1 {
  @extend %heading;
}

h2 {
  @extend %heading;
}

h3 {
  @extend %heading;
}

h4 {
  @extend %heading;
}

h5 {
  @extend %heading;
}

h6 {
  @extend %heading;
}

// Buttons
.btn {
  text-transform: uppercase;
}

// Badges
.badge {
  text-transform: uppercase;
}

// Navs
.nav-link {
  text-transform: uppercase;
}
