// Default small size
$input-height-inner-sm:                    add($input-line-height * 1em, $input-padding-y-sm * 2) !default;

// Nav
$nav-tabs-link-hover-border-color: $primary;
$nav-tabs-border-width: 1px;

// 
// Text transform
// 
%heading {
  margin-top: 0;
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  // font-style: $headings-font-style; // default is null, see https://github.com/twbs/bootstrap/blob/master/scss/_variables.scss#L302
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
  text-transform: uppercase; // adding uppercase style
}

h1 {
  @extend %heading;
}

h2 {
  @extend %heading;
}

h3 {
  @extend %heading;
}

h4 {
  @extend %heading;
}

h5 {
  @extend %heading;
}

h6 {
  @extend %heading;
}

// Buttons
.btn {
  text-transform: uppercase;
}

// Badges
.badge {
  text-transform: uppercase;
}

// Navs
.nav-tabs {
  background-color: $white;
  border-bottom: $nav-tabs-border-width solid transparent;

  .nav-link {
    text-transform: uppercase;
    color: $body-color;

    &:hover {
      background-color: $primary;
      border-color: $primary;
      color: $white;
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    border-color: $light;
    border-top-color: transparent;
    border-bottom: $nav-tabs-border-width solid $primary;
  }

  .nav-link.active {
    &:hover {
      border-color: $primary;
    }
  }
}
