// 
// Text transform
// 
h1 {
  @extend %heading;
  text-transform: uppercase;
}

h2 {
  @extend %heading;
  text-transform: uppercase;;
}

h3 {
  @extend %heading;
  text-transform: uppercase;
}

h4 {
  @extend %heading;
  text-transform: uppercase;
}

h5 {
  @extend %heading;
  text-transform: uppercase;
}

h6 {
  @extend %heading;
  text-transform: uppercase;
}
