// Font
@font-face {
  font-family: BrownPro;
  font-weight: 400;
  src: url("./fonts/BrownPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: BrownPro;
  font-weight: 500;
  src: url("./fonts/BrownPro-Bold.otf") format("opentype");
}

@font-face {
  font-family: BrownPro;
  font-weight: 300;
  src: url("./fonts/BrownPro-Light.otf") format("opentype");
}
